* {
    font-family: 'Roboto', sans-serif;
}

.main-header header {
    width: 100%;
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('Assets/header background.jpg');
    height: 20%;
}

.main-header h1 {
    color: white;
}

.main-header p {
    color: white;
}

.main-content {
    display: flex;
}

.left-column {
    width: 33%;
    padding: 10px;
}

.right-column {
    width: 67%;
    padding: 10px;
    margin-bottom: 5rem;
}

.contact-container {
    background: lightgray;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.donation-container {
    background: lightgray;
    padding: 10px;
    border-radius: 6px;
    font-family: inherit;
}

.main-footer footer {
    background: #000000;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-footer footer p {
    margin: 15px;
}

.main-footer a {
    color: white;
}

input, select {
    height: 40px;
    max-width: 80%;
}

button, input[type=submit] {
    background: #0084ff;
    text-align: center;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1em;
    border-radius: 6px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

.email-link {
    overflow-wrap: break-word;
}
